[alias]
	br = branch
	co = checkout
	ci = commit
	st = status
	dt = difftool -y
	dtc = difftool -y --cached
	diffc = diff --cached
[diff]
	tool = meld
[difftool]
	prompt = false
[difftool "meld"]
	trustExitCode = true
	cmd = /Applications/Meld.app/Contents/MacOS/Meld \"$LOCAL\" \"$PWD/$REMOTE\"
[merge]
	tool = meld
[user]
	name = Phuong Tran
[credential]
	helper = osxkeychain
[color]
	ui = auto
[push]
	default = current
