[alias]
	br = branch
	co = checkout
	ci = commit
	st = status
	dt = difftool
	dtc = difftool --cached
	diffc = diff --cached
[diff]
	tool = meld
[difftool]
	prompt = false
[difftool "meld"]
	trustExitCode = true
	cmd = /Applications/Meld.app/Contents/MacOS/Meld \"$LOCAL\" \"$PWD/$REMOTE\"
[merge]
	tool = meld
[mergetool]
	prompt = false
[mergetool "meld"]
	trustExitCode = true
	cmd = /Applications/Meld.app/Contents/MacOS/Meld --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"
[user]
	name = Phuong Tran
[credential]
	helper = osxkeychain
[color]
	ui = auto
[push]
	default = current
