[alias]
	br = branch
	co = checkout
	ci = commit
	st = status
	dt = difftool -y
	dtc = difftool -y --cached
	diffc = diff --cached
[diff]
	tool = meld
[merge]
	tool = meld
[user]
	name = Phuong Tran
[credential]
	helper = osxkeychain
[color]
	ui = auto
[push]
	default = current
