[alias]
	dog = log --decorate --oneline --graph
	adog = log --all --decorate --oneline --graph
	br = branch
	co = checkout
	ci = commit
	st = status
	dt = difftool --dir-diff
	dtc = difftool --dir-diff --cached
	diffc = diff --cached
[color]
	ui = auto
[push]
	default = current
[include]
	path = ~/.gitconfig.local
