[alias]
	adog = log --all --decorate --oneline --graph
	br = branch
	co = checkout
	ci = commit
	st = status
	dt = difftool
	dtc = difftool --cached
	diffc = diff --cached
[color]
	ui = auto
[push]
	default = current
[include]
	path = ~/.gitconfig.local
[pager]
	branch = false
